{% extends "base.html" %}

{% block page_title %} Lucido Home {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <center>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Date</th>
                        <th>Description</th>
                        <th>File</th>
                    <tr>
                </thead>
                <tbody>
                {% for sheet in sheets %}
                    <tr>
                        <td class="vert-align">
                            {{ sheet.title }}
                        </td>
                        <td class="vert-align">
                            {{ sheet.upload_date | date:"Y.m.j - G:i"}}
                        </td>
                        <td class="vert-align">
                            {{ sheet.description | urlize }}
                        </td>
                        <td class="vert-align">
                            <a class="btn btn-success" href="/opendata/{{ sheet.sheet|cut:"./" }}" download="{{ sheet.sheet|cut:"./" }}" role="button">Download</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
             <hr />
    </center>
    </div><!-- /.col-md-8 -->
</div><!-- /.row -->
{% endblock %}